.toplevel_page_backup-rocks > .wp-menu-image{
    display: none;
}

.backup-rocks-logo{
    width: 100%;
}

#adminmenu .toplevel_page_backup-rocks > .wp-menu-name{
    padding:0;
}

.backup-wrap, .backup-wrap2 {
    display: inline-block;
}

.backup-wrap{
    background-color: white;
    margin-right: 2%;
    margin-top: 5%;
    padding: 32px 35px 44px 35px;
    width: 41%;
}

.backup-wrap2 {
    background-color: white;
    float: right;
    margin-top: 5%;
    padding: 14px 35px 30px 35px;
    position: relative;
    width: 42%;
} 

.backup-wrap2.active {
    display: none;
}

.backup-wrap h1 a{
    color:#fd553c;
    cursor: pointer;
    font-weight: 600;
}

.desc{
    margin-bottom: 30px!important;
}

.button-rocks:hover:after {
    content: ">";
    position: absolute;
    right: 5px;
}

.backup-wrap h1,.backup-wrap2 > h1 {
    color: #fd553c;
    line-height: 1.3em;
}

#b_r_form label::after, 
#b_r_form_reg label::after {
    clear: both;
    content: " ";
    display: table;
}

.backup-wrap input,
.backup-wrap2 input {
    border: 1px solid #dfdfdf;
    float: right;
    height: 50px;
    margin-top: -14px;
    padding: 14px;
    width: 70%;
} 

/*.confirm_user_pass {
    display: none;
}*/

.button-rocks, input.button-rocks { 
    background: none;
    text-decoration: none;
    padding: 10px 16px;
    border: 2px solid #fd553c;
    border-radius: 4px;
    color: #fd553c;
    cursor: pointer;
    font-size: 16px;
    transition:all 0.2s ease 0s;
    position: relative;
    display: inline-block;
    width: auto;
}
.button-rocks:hover, input.button-rocks:hover{
    transition:all 0.2s ease 0s;
    background-color:#fd553c;
    color: white;
    padding: 11px 22px 11px 9px;
}

.backup-wrap2 .button-rocks {
    top: 35px;
}

.backup-wrap2 .desc {
    margin-bottom: 15px !important;
}

.top_navigation{
    background-color:#fd553c;
    margin-top: 2%;
}

.top_navigation::after {
    clear: both;
    content: " ";
    display: table;
}

.top_navigation > a {
    float: left;
    max-width: 300px;
    min-width: 300px;
    vertical-align: top;
}

.top_navigation img {
    display: block;
    height: 75px;
    width: 300px;
}

#top-menu-nav {
    float: right;
}

#top-menu .menu-item {
    display: inline-block;
}

#top-menu .menu-item a {
    color: #ffffff;
    font-size: 16px;
    line-height: 46px;
    padding: 12px;
    text-decoration: none;
}

.info_licisance_key h2 {
    font-size: 15px;
}

.backup-wrap .reg_wrap_content a, 
.backup-wrap2 .login_wrap_content a {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 16px;
    position: relative;
    text-decoration: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;    
    display: block;
    color: #fd553c; 
    width: 82px; 
    margin: 0 auto;
}

.backup-wrap .reg_wrap_content a, 
.backup-wrap2 .login_wrap_content a.act_tab {
    border-top: 2px solid #fd553c;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: none;
    z-index: 1;
}

.backup-wrap .reg_wrap_content, 
.backup-wrap2 .login_wrap_content {
    position: relative;
}

.backup-wrap .reg_wrap_content::after, 
.backup-wrap2 .login_wrap_content::after {
    content: '';
    background: #fd553c;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
} 

.backup-wrap .reg_wrap_content a:focus, 
.backup-wrap2 .login_wrap_content a:focus {
    box-shadow: none;
}

.backup-wrap2 #submit {
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
}


.backup-wrap-msg {
    background: #ffffff none repeat scroll 0 0;
    display: none;
    float: right;
    height: 253px;
    margin-top: 5%;
    padding: 14px 30px 69px 45px;
    width: 42%;
}

.backup-wrap-msg.active {
    display: block;
} 

.backup-wrap-msg > span {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
} 

.backup-wrap-msg a {
    color: #fd553c;
}

#b_r_form_reg {
    display: none; 
    margin-top: 30px;
} 

#b_r_form_reg.active {
    display: block;
} 

.reg_wrap_content {
    display: none;
}

.reg_wrap_content.active{ 
    display: block;
}

.submit > span {
    float: right;
    margin: 0 10px;
}